* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  background-size: cover;
  overflow-x: hidden;
}

#nav {
  z-index: 10;
  position: fixed;
  margin-top: 10px;
  justify-self: center;
  width: 70vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.526);
  backdrop-filter: blur(40px);
  box-shadow: 5px 10px 40px black;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#nav:hover {
  transform: scale(1.01);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

#left-side {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

#miidle-side {
  width: 30vw;
  height: 60px;
}

#miidle-side ul {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;
}

#miidle-side ul li {
  list-style: none;
}

#miidle-side ul li a {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#miidle-side ul li a:hover {
  text-decoration: underline;
}

#right-side {
  width: 15vw;
  height: 60px;
}

#right-side ul {
  display: flex;
  height: 40px;
  align-items: center;
  margin-top: 15px;
  justify-content: space-evenly;
}

#right-side ul li {
  list-style: none;
}

#right-side ul li img {
  width: 30px;
}

#right-side ul li img:hover {
  filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 15px #ffffff);
}

.page {
  width: 100vw;
  height: 100vh;
  background-color: #000001;
}

#home {
  position: relative;
  /* background-image: url(images/background-1.png); */
  background-color: #dbcece;
  background-size: cover;
}

#home h1 {
  user-select: none;
  color: #ffffffd0;
  position: absolute;
  top: 17%;
  height: 200px;
  top: 20%;
  font-size: 8rem;
  width: 100vw;
  font-family: "Special Gothic Expanded One", sans-serif;
  z-index: 1;
  filter: drop-shadow(0 0 2px #ffffff) drop-shadow(0 0 8px #ffffff);
}

#home img {
  user-select: none;
  z-index: 2;
  position: absolute;
  left: 34%;
  top: 22%;
  width: 32rem;
}

#about {
  color: white;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

#title-about {
  width: 100vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  font-family: "Special Gothic Expanded One", sans-serif;
  position: absolute;
  top: 10%;
}

#title-about h1 {
  color: white;
  font-size: 8rem;
}

#para-about p {
  margin-left: 20px;
  text-align: center;
  font-size: 1.5rem;
}
#para span{
  font-size: 1.9rem;
  font-weight: 600;
  color: #ffffff;
}

#para {
  position: absolute;
  top: 42%;
  left: 20%;
  width: 53%;
  height: 400px;
  font-size: 1.2rem;
  padding: 10px;
  text-align: start;
  font-family:  "Sen", sans-serif;
  font-weight: 200;
  /* border: 1px solid white; */
  color: #e4e4e4;
}

#skills-about{
  /* border: 1px solid white; */
  position: absolute;
  width: 300px;
  height: 400px;
  left: 78%;
  top: 43%;
}
.graph{
  width: 200px;
  height: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

.range{
  background-color: #ffffff;
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
#skills-about ul{
  list-style: none;
}
#skills-about ul li{
  margin: 10px;
  margin-bottom: 20px;
  font-size: 1rem;
}

#highlights {
  display: flexbox;
  flex-direction: row;
  font-family: "Special Gothic Expanded One", sans-serif;
}

#highlights h1 {
  width: 100vw;
  height: 200px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  color: white;
  font-size: 8rem;
  font-weight: 300;
}

#section {
  /* border: 1px solid black; */
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

#section button {
  color: white;
  width: 500px;
  border: none;
  background-color: #000001;
  border-left: 1px solid #ffffff;
}

#section button:hover {
  background-color: #b3b3b4;
  cursor: pointer;
}

#section button :focus {
  border-bottom: 2px solid black;
}

#section-items {
  position: relative;
  width: 100vw;
  border: 1px solid black;
  display: flex;
  height: 480px;
}

.items {
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#project-items {
    visibility: visible;
    border-bottom: 2px solid black;
}
#work-exp,
#certificate-items,
#achievement-items {
    visibility: hidden;
}
.project-img {
    /* border: 1px solid black; */
    width: 450px;
    height: 300px;
    margin: 50px;
    flex-shrink: 0;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;

}
#pinterest{
  background-image: url(images/pinterest.png);
}
#youtube{
  background-image: url(images/youtube.png);
}
#login-reg{
  background-image: url(images/login.png);
}
#googleform{
  background-image: url(images/google-form.png);
}